* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 90%;
    max-width: 960px;
    border: solid blue;
    background: darkgray;
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row; 
    position: relative; 
    height: auto; 

}

#section1, #section2 {
    display: flex;
    /* border: solid red; */
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row; 
}

#section1 > div, 
#section2 > div,
#section3 > div {
    display: flex;
    border: solid 4px grey;
    justify-content: space-around;
    align-items: center; 
}

#section3 {
    height: 100%;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: solid blue; */
    position: absolute;
    top: 56%;
    
    
}


/* THE BOXES!!!!========================================================= */

.one {
    width: 25%;
    height: 10vh;
    background: white;
}

.two {
    width: 45%;
    height: 10vh;
    background: white;
}

.three{
    width: 30%;
    height: 10vh;
    background: yellow;
}

/* section TWO!!!!! */

.four{
    width: 15%;
    height: 23vh;
    background: white;
}

.five{
    width: 55%;
    height: 49vh;
    background: red;
}

.six{
    width: 30%;
    height: 23vh;
    background: yellow;
}

.sudo {
    background: lightblue;
    width: 20%;
    height: 50%;
}

/* SECTION THREE!!!!! */

.seven {
    width: 15%;
    height: 50%;
    background: white;
   

}

.twelve {
    width: 15%;
    height: 50%;
    background: yellow;
}

/* .nine{
    width: 20%;
    height: 20vh;
    background: yellow;
}

.ten{
    width: 20%;
    height: 49vh;
    background: red;
}

.eleven{
    width: 20%;
    height: 20vh;
    background: yellow; */






/* .one{order: 1;}
.two{order: 2;}
.three{order: 3;}
.four{order: 4;}
.five{order: 5;}
.six{order: 6;}
.seven{order: 7;} */
/* .eight{order: 8;}
.nine{order: 9;} */